/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  color: #333333;
  text-rendering: optimizelegibility;
  padding: 50px 50px 50px 50px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.page-header__history {
  font-size: 12px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-container__title {
  font-size: 35px;
  text-align: left;
}

.main-container__qustion {
  font-size: 35px;
  text-align: left;
}

.qustion-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.qustion-form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 355px;
  margin-right: 20px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 25px 11px 25px;
  border: 1px solid #eee;
  border-top: 2px solid #f00;
  border-radius: 10px;
}

.qustion-form__button {
  position: absolute;
  bottom: 0;
  right: 47%;
  color: #fff;
  padding: 5px 5px 5px 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #3949a0;
}

.qustion-form__label {
  position: relative;
  font-size: 28px;
  margin-bottom: 20px;
}

.qustion-form__label::after {
  position: absolute;
  left: 0;
  top: 60px;
  content: "";
  height: 1pxs;
  width: 50px;
  border-bottom: 1px solid black;
}

.qustion-form__input {
  position: relative;
  text-align: center;
  margin-right: 10px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 70px;
  border: 1px solid #333333;
}

.qustion-form__input::-webkit-input-placeholder {
  text-align: center;
}

.qustion-form__input::-moz-placeholder {
  text-align: center;
}

.qustion-form__input:-ms-input-placeholder {
  text-align: center;
}

.qustion-form__input::-ms-input-placeholder {
  text-align: center;
}

.qustion-form__input::placeholder {
  text-align: center;
}

.qustion-form__input::focus {
  text-align: center;
}

.qustion-form__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  min-width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #eee;
  margin-left: 0;
  margin-right: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.qustion-form__input-container p {
  font-size: 20px;
}

.qustion-form__description {
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
